*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: lightskyblue;
}
.wrap{
    display: flex;
    gap: 15px;
}
.nav{
    width: 100px;
    border-collapse: collapse;
    height: fit-content;
}
a:visited{
    color:blue;
}
.uc{
    color:red;
    animation: blink 1s steps(1) infinite;
}
@keyframes blink {
  0% {
    color: red;
  }
  50% {
    color: black;
  }
  100% {
    color: red;
  }
}